@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; 
}

*:before,
*:after {
  padding: 0;
	margin: 0;
	border: 0;
  box-sizing: border-box; 
}

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.content {
  padding: 50px 0;
  max-width: 1000px;
  margin: 0px auto;
}
.tabs { margin-bottom: 50px; }
.tabs__items { display: flex; }
.tabs__item { 
  flex: 0 1 33.333%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.tabs__item span {
   position: relative;
   z-index: 2;
}
@media (max-width: 600px) {
  .tabs__item span {
    display: block;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
  }
}
.tabs__block {
  position: relative;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
}
.tabs__block::before {
  content: "";
  height: 50px;
  width: 33.333%;
  position: absolute;
  top: -50px;
}
.tabs__block:nth-child(1) { background-color: rgb(253, 234, 234); }
.tabs__block:nth-child(1)::before {
  background-color: rgb(253, 234, 234);
  left: 0;
}
.tabs__block:nth-child(2) { background-color: rgb(234, 253, 244); }
.tabs__block:nth-child(2)::before {
  background-color: rgb(234, 253, 244);
  left: 33.333%;
}
.tabs__block:nth-child(3) { background-color: rgb(242, 234, 253); }
.tabs__block:nth-child(3)::before {
  background-color: rgb(242, 234, 253);
  right: 0;
}
.tabs__block:target { display: block; }
.text {
  font-size: 18px;
  line-height: 24px;
}
